<div class="container-fluid">
  <hr class="featurette-divider">
  <footer>
    <p class="pull-right"><a href="#">back to home</a>
    </p>
    <p>© 2020 Queritel, Corp. · <a href="https://queritel.com"
        target="_blank">Facebook</a> · <a href="https://www.facebook.com/Queritel/"
        target="_blank">Instagram</a> · <a href="https://www.instagram.com/Queritel/"
        target="_blank">Twitter</a> · <a href="https://www.twitter.com/Queritel/"
        target="_blank">Linkedin</a> · <a href="https://www.linkedin.com/company/queritel"></a>
      <br>
    </p>
  </footer>
</div>

